<template>
  <table class="pure-table pure-table-horizontal pure-table-striped">
    <thead>
      <tr>
        <th v-for="header in headers" :key='header.name' v-bind:style='header.style'>
          {{ header.name }}
        </th>
      </tr>
    </thead>
    <tbody v-if="isLoaded">
      <tr v-for="row in rows" :key='row.id'>
        <td v-for="header in headers" :key='header.name'>
          {{ format(jsonLookup(row, header.path), header.format) }}
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style lang="scss">
</style>

<script lang="ts">
import { jsonLookup } from "../utility/_";

type DynamicTableHeader = {
  name: string,
  path: string,
  format: (value: any) => string,
  style: string
};

type DynamicTableProps = {
  headers: Array<DynamicTableHeader>,
  source: string,
  rows: Array<any>,
  isLoaded: boolean
};

function loadData(com: DynamicTableProps) {
  fetch(com.source).then((response) => {
    response.json().then((value) => {
      com.rows = value;
      com.isLoaded = true;
    })
  })
}

function format(value: string, callback?: (value: string) => string): string {
  if (callback) {
    return callback(value);
  } else {
    return value;
  }
}

export default {
  props: [
    "headers", // List of the table headers
    "source"   // Url that should return the table rows in a json format
  ],
  data: (com: any) => { 
    return { 
      rows: loadData(com),
      jsonLookup: jsonLookup,
      format: format,
      isLoaded: false 
    }; 
  }
}
</script>