<template>
  <div id="menu" class="menu">
    <a class="pure-menu-heading brand" href="javascript: void(0);">
      Options
    </a>
    <div class="pure-menu">
      <ul class="pure-menu-list">
        <li class="pure-menu-item" v-for="route in routes" :key='route.name' >
          <router-link class="pure-menu-link" :to="route.path" v-bind:class="[route.icon]">{{ route.name }}</router-link>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang="scss">

$menuBorderColor: #333;

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/
.menu {
    margin-left: -160px; /* "#menu" width */
    width: 160px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
        
        &::before {
            margin-right: 10px;
        }

    }

    .brand {
        font-family: Raleway;
        font-weight: bold;
        font-size: 1em;
        letter-spacing: 0.1em;
        text-transform: none;
        background: transparent;
        text-decoration: none;
        margin: 0.5em 0.5em;
        cursor: default;
    }

    .pure-menu,
    .pure-menu ul {
        border: none;
        background: transparent;
    }

    .pure-menu ul,
    .pure-menu .menu-item-divided {
        font-size: 0.9em;
        border-top: 1px solid $menuBorderColor;

        li a {
            padding-left: 1.5em;
        }
    
        li a:hover,
        li a:focus {
            background: $menuBorderColor;
        }
    }

    .pure-menu-selected,
    .pure-menu-heading {
        a {
            color: white;
        }
    }

    .pure-menu-heading {
        font-size: 110%;
        color: white;
    }
}


.menu {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {
    .menu {
        left: 150px;
    }
}

</style>

<script lang="ts">
export default {
    props: ['routes'],
    methods: { }
}
</script>
