<template>
  <a @click="toggleAll" href="#menu" id="menuLink" class="menu-link">
      <span></span>
  </a>
</template>

<style lang="scss">

$menuBorderColor: #333;

.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;


    &:hover,
    &:focus {
        background: #000;
    }

    span {
        position: relative;
        display: block;
    }

    span,
    span:before,
    span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

    span:before,
    span:after {
        position: absolute;
        margin-top: -0.6em;
        content: " ";
    }

    span:after {
        margin-top: 0.6em;
    }
}

.menu-link {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

/* -- Responsive Styles (Media Queries) ------------------------------------- */

@media (min-width: 48em) {
    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }
}


</style>

<script lang="ts">

function toggleClasses(elements: HTMLElement[], className: string) {
    for (let element of elements) {
        let found = false;
        element.className = element.className
            .split(/\s+/)
            .filter((cls) => found = cls != className)
            .concat( found ? [className] : [] )
            .join(' ');
    }
}

function toggleAll(event: Event) {
    const menu = document.getElementById('menu'),
          menuLink = document.getElementById('menuLink'),
          layout = document.getElementById('layout');

    event.preventDefault();
    toggleClasses([menu, menuLink, layout], 'active');
}

export default {
    methods: {
        toggleAll: (e: Event) => { toggleAll(e); }
    }
}
</script>
