<template>
  <div id="suppliers" class="suppliers">
    <div class="header">
      <h1>All Supplies</h1>
    </div>
    <div class="content">
    </div>
  </div>
</template>

<style lang="scss">

#suppliers {
  padding: 2.5em 2em 0;
  max-width: 100%;
  margin: 0 auto;
  color: #191818;

  .header {
    color: #333;
    text-align: center;
    
    border-bottom: 1px solid #eee;
    font-family: "Raleway", Helvetica, Arial, sans-serif;

    h1 {
      margin: 0.2em 0;
      font-size: 3em;
      font-weight: 300;
    }
  }

}


</style>

<script lang="ts">
export default {
}
</script>
