<template>
    <div id="layout" class="layout">
      <side-nav-toggle></side-nav-toggle>
      <side-nav :routes='routes' ></side-nav>
      <div id="main">
        <router-view></router-view>
      </div>
    </div>
</template>

<style lang="scss">

.layout {
  position: relative;
  left: 0;
  padding-left: 0;

  &.active .menu {
      left: 160px;
      width: 160px;
  }

  &.active .menu-link {
      left: 160px;
  }

  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

a.pure-button, input[type=button] {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 1.0);
  &.button-success {
    background: rgb(28, 184, 65);
  }
  &.button-normal {
    background: rgb(38, 121, 255);
  }
}

a.notice-close {
  float: right;
  cursor: pointer;
}

.error-notice {
  background-color: rgb(255, 145, 145);
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8rem;
  color: rgb(54, 0, 0);
  border: 1px solid rgb(255, 81, 81);
}


/* GLOBAL FORM CSS */

.pure-form {
  max-width: 400px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  .field-list {
    padding: 0;
    margin: 0;
    li {
      margin: 0 20px 0 0;

      label { 
        display: inline-block;
        font-size: 12px;
      }
      input {
        width: default;
        display: inline-block;
        margin-right: 5px;
      }
      input[type=radio], input[type=checkbox] {
        position: relative;
        top: 5px;
      }
      display: inline-block;
    }
  }

  li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 20px 0 0 0;
  }

  label{
    margin:0 0 6px 0;
    padding:0px;
    display:block;
    font-weight: bold;
  }

  input[type=text],
  input[type=date],
  input[type=datetime],
  input[type=number],
  input[type=search],
  input[type=time],
  input[type=url],
  input[type=email],
  textarea,
  select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    border-radius: 0;
    padding: 7px;
    margin:0px;
    width: 100%;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none; 
  }

  input[type=text]:focus,
  input[type=date]:focus,
  input[type=datetime]:focus,
  input[type=number]:focus,
  input[type=search]:focus,
  input[type=time]:focus,
  input[type=url]:focus,
  input[type=email]:focus,
  textarea:focus,
  select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
  }

  .field-divided{
    width: 49%;
  }

  .field-long{
    width: 100%;
  }

  .field-select{
    width: 100%;
  }

  .field-textarea{
    height: 100px;
  }

  .required{
    color:red;
  }
}

@media (min-width: 48em) {
  #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
  }
}

@media (max-width: 48em) {
    #layout.active {
        position: relative;
        left: 150px;
    }
}

</style>

<script lang="ts">
import { SideNav, SideNavToggle } from "../components/_";

export default {
  props: ['routes'],
  components: {
    SideNav,
    SideNavToggle
  }
}
</script>
