<template>
  <div id="home" class="home">
    <div class="header">
      <h1>The Cat Sanctuary</h1>
      <h2>A management App</h2>
    </div>
    <div class="content">
      <div class="home-buttons pure-g">
        <div class="pure-u-1 pure-u-sm-1 pure-u-md-1-3 strong-link" v-for="route in routes" :key='route.name' >
          <router-link :to="route.path" class="huge-icon-button"><i v-bind:class="[route.icon]"></i></router-link>
          <p> {{ route.name }} </p>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">

#home {
  padding: 2.5em 2em 0;
  max-width: 768px;
  margin: 0 auto;
  color: #191818;

  .header {
    color: #333;
    text-align: center;
    
    border-bottom: 1px solid #eee;
    font-family: "Raleway", Helvetica, Arial, sans-serif;

    h1 {
      margin: 0.2em 0;
      font-size: 3em;
      font-weight: 300;
    }
    h2 {
      font-weight: 300;
      color: #999;
      padding: 0;
      margin-top: 0;
    }
  }
}



.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

.home-buttons {

  margin-top: 25px;
  text-align: center;

  .strong-link {
    margin-top: 15px;
    > p { font-size: 23px; margin-top: 15px; }
    &:last-child { margin-bottom: 15px; }
  }

  .strong-link > a.huge-icon-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    cursor: pointer;
    color: #191818;

    display: flex;
    justify-content: center;
    
    i {
      margin-top: 15px;
      font-size: 80px;
      align-self: center;
    }

    border: solid 2.5px;
    border-radius: 50%;
    margin: auto;
    width: 150px;
    height: 150px;

    &:visited {
      color: #191818;
    }

    &:hover {
      border-width: 3.5px;
      background-color: #F0F0F0;
    } 

  }

}

</style>

<script lang="ts">

export default {
  props: ['routes']
}
</script>
