<template>
  <div id="cats" class="cats">
    <div class="header">
      <h1>All Cats</h1>
    </div>
    <div class="content">
      <div class="content-new">
        <router-link class="pure-button pure-button-primary" to="/cats/new">
          New Kitty
        </router-link>
      </div>
      <dynamic-table 
        v-bind:headers="headers"
        source="/cats">
      </dynamic-tabl>
    </div>
  </div>
</template>

<style lang="scss">

#cats {
  padding: 2.5em 2em 0;
  max-width: 100%;
  margin: 0 auto;
  color: #191818;

  .header {
    color: #333;
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
    
    border-bottom: 1px solid #eee;
    font-family: "Raleway", Helvetica, Arial, sans-serif;

    h1 {
      margin: 0.2em 0;
      font-size: 3em;
      font-weight: 300;
    }
  }

  .content {
    table {
      width: 100%;
      margin: 40px 0;
    }

    .content-new {
      float: right;
      margin: 15px 0;
    }
  }

}

</style>

<script lang="ts">
import { DynamicTable } from "../../components/_";

function bool_to_yes_or_no(v: boolean): string {
  if (v === false) {
    return "No";
  } else if (v === true) {
    return "Yes";
  }
}

function age_in_month(age: number): string {
  const years = Number.parseInt((age / 12).toFixed(0));
  const remaining_month = age % 12;
  if (years > 0 && remaining_month > 0) {
    return `${years} years and ${remaining_month} months`;
  } else if (years > 0 && remaining_month == 0) {
    return  `${years} years`;
  } else {
    return  `${remaining_month} months`;
  }
}

const TABLE_HEADERS = [
  {name: "#", path: "id", style:"width: 5%"},
  {name: "Name", path: "name", style: "width: 45%"},
  {name: "Sex", path: "sex", format: (n: string) => n.toUpperCase(), style: "width: 5%"},
  {name: "Age", path: "age", format: age_in_month, style: "width: 25%"},
  {name: "Adopted?", path: "adopted", format: bool_to_yes_or_no, style: "width: 10%"},
  {name: "Declawed?", path: "declawed", format: bool_to_yes_or_no, style: "width: 10%"},
];

export default {
  components: {
    DynamicTable
  },
  data: () => { 
    return {
      headers: TABLE_HEADERS
    }
  },
}
</script>
