<template>
  <div id="cats_form" class="cats-form">
    <div class="header">
      <h1>New Cat</h1>
    </div>
    <div class="content">
      <div class="error-notice" v-if="errorNotice !== null">
        {{errorNotice}}
        <a class="notice-close" v-on:click="errorNotice=null"><i class="i-cross"></i></a>
      </div>
      <form id="form_cats" class="pure-form pure-form-stacked">
        <fieldset>
          <li>
            <label>Name <span class="required">*</span></label>
            <input type="text" v-model="name" lazy/>
          </li>
          <li>
            <label>Sex <span class="required">*</span></label>
            <ul class="field-list">
              <li>
                <input id="sex_m" type="radio" v-model="sex" value="M"/>
                <label for="sex_m">Male</label>
              </li>
              <li>
                <input id="sex_f" type="radio" v-model="sex" value="F"/>
                <label for="sex_m">Female</label>
              </li>
            </ul>
          </li>
            <li>
              <label>Age <span class="required">*</span></label>
              <ul class="field-list">
                <li>
                  <input id="age_year" type="number" style="width: 70px" v-model="ageYear"/>
                  <label>Years</label>
                </li>
                <li>
                  <input id="age_month" type="number"  style="width: 70px" v-model="ageMonth"/>
                  <label>Months</label>
                </li>
              </ul>
            </li>
            <li>
              <label>Other options</label>
              <ul class="field-list">
                <li>
                  <input id="declawed" type="checkbox" v-model="declawed" value="1"/>
                  <label for="declawed">Declawed</label>
                </li>
                <li>
                  <input id="adopted" type="checkbox" v-model="adopted" value="1"/>
                  <label for="adopted">Adopted</label>
                </li>
              </ul>
            </li>
            <li>
              <ul class="field-list">
                <li><router-link class="pure-button pure-button-primary"
                                    to="/cats">Cancel</router-link></li>
                <li><input v-on:click="createNewCat"
                            type="button"
                            class="pure-button button-success"
                            value="Create"></input></li>
              </ul>
            </li>
          </fieldset>
      </form>
    </div>
  </div>
</template>

<style lang="scss">

#cats_form {
  padding: 2.5em 2em 0;
  max-width: 100%;
  margin: 0 auto;
  color: #191818;

  .header {
    color: #333;
    text-align: center;
    max-width: 768px;
    margin: 0 auto;
    
    border-bottom: 1px solid #eee;
    font-family: "Raleway", Helvetica, Arial, sans-serif;

    h1 {
      margin: 0.2em 0;
      font-size: 3em;
      font-weight: 300;
    }
  }

  .content {
      padding: 20px 0;
  }

}

</style>

<script lang="ts">

type CatsFormMembers = {
  $router: any,
  name: string,
  sex: string,
  ageYear: number,
  ageMonth: number,
  declawed: boolean,
  adopted: boolean,
  errorNotice: string
};

function createNewCat(formData: CatsFormMembers) {
    const init = {
        method: 'POST'
    };

    fetch('/cats/create', init).then((response) => {
        if (!response.ok) {
            return response.text().then((txt) => {
                throw new Error(txt);
            })
        }
    }).then(() => { 
        formData.$router.push({path: '/cats'})
    }).catch((error) => {
        formData.errorNotice = `Create failed: ${error.message}`
    });
}

export default {
  components: {},
  data: (com: any) => {
      return {
          // Methods
          createNewCat: ()=>createNewCat(com),

          // Default cat properties
          name: "Mittens",
          sex: "M",
          ageYear: 1,
          ageMonth: 0,
          declawed: false,
          adopted: false,

          // Other stuff
          errorNotice: <string>null
      }
  }
}
</script>
